= I18n.t 'mailer.forgot_password.text',                                            |
  :login => @user.login,                                                           |
  :password => @pass,                                                              |
  :link => (link_to (I18n.t 'mailer.forgot_password.link_text',:url=>@url), @url), |
  :url => @url                                                                     |
