= I18n.t 'mailer.signup.text',                                            |
  :login => @user.login,                                                  |
  :password => @user.password,                                            |
  :link => (link_to (I18n.t 'mailer.signup.link_text',:url=>@url), @url), |
  :url => @url                                                            |
