- @title = t('.title')
- @side_type = :community
- @no_js = true
.summary= t('.summary')
#links
  .category
    .title.bluelinebottom
      %h2= t('.category1')
    .link
      %a{:href => "http://www.onedrop.org", :target => '_self'} www.onedrop.org
    .link
      %a{:href => "http://drinkingwaterforhaiti.wordpress.com/", :target => '_self'} drinkingwaterforhaiti.wordpress.com
    .link
      %a{:href => "http://www.drinking-water.org", :target => '_self'} www.drinking-water.org
    .link
      %a{:href => "http://www.onepercentfortheplanet.org", :target => '_self'} www.onepercentfortheplanet.org
    .link
      %a{:href => "http://save2survive.com/blog/", :target => '_self'} save2survive.com/blog/
    .link
      %a{:href => "http://water.org/", :target => '_self'} water.org
  - if false
    .category
      .title.bluelinebottom
        %h2= t('.category2')
      .link
        %a{:href => "http://www.yahoo.com/", :target => '_self'} www.yahoo.com
    .category
      .title.bluelinebottom
        %h2= t('.category3')
      .link
        %a{:href => "http://www.yahoo.com/", :target => '_self'} www.yahoo.com
